snpArcher



acute/dna/.snakemake/*
acute/dna/results/*

longevity/.snakemake/*
longevity/results/*

*.log
*.err

rna/body/.snakemake/*
rna/body/results/*
rna/body/results_sample/*
rna/body/resources/*

rna/head/results/*
rna/head/.snakemake/*
rna/head/results_sample/*
rna/head/resources/*

dna/project_crvi_longevity/.snakemake/*
dna/project_crvi_longevity/data/*

*.rds
rna/eQTLmapping/.snakemake/
rna/eQTLmapping/cache/
rna/eQTLmapping/detections/
rna/eQTLmapping/bed_files/
rna/eQTLmapping/results/
rna/eQTLmapping/40k/

rna/eQTLmapping/GRMs/body.cXX.txt
rna/tmp/*
.nfs*
rna/decoherence/differential_correlation/
rna/rna-seq-star-deseq2
*.vcf